/* fonts and colors */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dangrek&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/c9f83a2112dba37a28475a67610471d3?family=Corporate+S+W07+Medium');


:root{
    --green : #389a48;
    --blue : #022659;
    --lightgreen: #8ae20ed7;
    --white: #ffffff;
  --fb-bg: #3b5998;
  --fb-bg-hover: #2d4373;
  --twitter-bg: #1da1f2;
  --twitter-bg-hover: #0f81c7;
  --linkedin-bg: #0077b5;
  --linkedin-bg-hover: #046293;
  --whatsapp-bg: #25d366;
  --whatsapp-bg-hover: #128c7e;
  --gray:#6c757d;
  --bg-gray:#edeef0;
  }
  
  .color2{
    background-color: var(--green);
  }
  /* .text-color2{
    color: var(--green);
  } */
  .color1{
    background-color: var(--blue);
  }
  /* .text-color1{
    color: var(--blue);
  } */
  .textcolor2{
    color: var(--green);
  }
  .textcolor1{
    color: var(--blue);
  }
  .textcolor3{
    color: var(--gray);
  }
  .textcolor4 {
    color: var(--lightgreen);
  }
  
  .textcolor5{
    color: var(--white);
  }
  .dot{
    color: var(--green)
  }
  
  .gradient {
    background: var(--blue);/* For browsers that do not support gradients */
    /* background: linear-gradient(to right, var(--blue) , var(--green)); */
  }

  .gradient1 {
    background: var(--blue); /* For browsers that do not support gradients */
    /* background: linear-gradient(to bottom, var(--green), var(--blue)); */
  }

  .gradient2 {
    background: var(--blue);
  /* background: linear-gradient(144deg, rgba(56,154,72,1) 31%, rgba(2,38,89,1) 100%); */
  }

  .banner-gradient {
    background: var(--blue);
    /* background: linear-gradient(280deg, rgba(56,154,72,1) 15%, rgba(2,38,89,1) 59%); */
  }

  .iconcolor {
    background-color: var(--lightgreen);
  }
  .bordercolor2:hover {
    border-color: var(--lightgreen);
  }  



/* icons */
.twitter-bg {
  background-color: var(--twitter-bg);
}
.twitter-bg:hover {
  background-color: var(--twitter-bg-hover);
}
.linkedin-bg {
  background-color: var(--linkedin-bg);
}
.linkedin-bg:hover {
  background-color: var(--linkedin-bg-hover);
}
.watsapp-bg {
  background-color: var(--whatsapp-bg);
}
.watsapp-bg:hover {
  background-color: var(--whatsapp-bg-hover);
}

.fb-bg {
  background-color: var(--fb-bg);
}
.fb-bg:hover {
  background-color: var(--fb-bg-hover);
}

.bg-gray {
  background-color: var(--bg-gray);
}
  


  @font-face {
    font-family: heading2;
    src: url(../fonts/Quarion-SemiBold.ttf);
 
  }
  @font-face {
    font-family: heading3;
    src: url(../fonts/MazinDEMO-Medium.otf);
  }

  .heading1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .heading2{
    font-family: heading2;
  }
  .heading3{
    font-family: heading3;
  }

  .para1{
    font-family: "Corporate S W07 Medium";
    font-size: 16px;
  }

  